@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;600;700;800;900&display=swap');

:root {
    --white: white;
    --blue: #015FC7;
    --dark-blue: #001124;
    --box-shadow:3px 0px 8px var(--dark-blue);
    --max-width: 80em;
    --lblack: #14181c;
    --lwhite: rgb(187, 187, 187);
    --black: #000000;
    scroll-behavior: smooth;
    --danger:#d9534f;
    --success:#27a745;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Outfit', sans-serif;
    transition: 0.3s all;
}
a {
    cursor: pointer;
}
.info_btn{
    padding:5px 40px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
}
.project_container {
    margin:auto;
    max-width: var(--max-width);
    padding:0 20px;
}
/*                       HOME STYLESHEET
------------------------------------------------------------------------------------------------
*/
#home{
    position:relative;
    height:100vh;
    background-color: var(--black);
}
#bars{
    display: none;
}
.navbar{
    position:relative;
    display:flex;
    justify-content: flex-end;
    z-index:7;
    padding:20px;
}
.navbar a{
    text-decoration: none;
    padding:12px 40px;
    font-size:25px;
    color: var(--white);
    margin:0 15px;
}
.navbar a:last-child{
    margin-right:0px;
}
#home .home_content{
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    width:100%;
    z-index:6;
}
#home .home_content .image{
    width:40%;
}
#home .home_content .image img{
    width: 100%;
}
#home .home_content .content_text{
    width:60%;
    text-align:center;
    color: var(--white);
}
#home .home_content .content_text h3{
    margin-bottom:15px;
    font-size: 20px;
}
#home .home_content .content_text h1{
    color: var(--blue);
    font-size: 99px;
}
#home .home_content .content_text .two_buttons{
    margin-top:30px;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
}
#home .home_content .content_text .two_buttons a{
    margin-bottom:15px;
    margin-left:20px;
    cursor:pointer;
    min-width:100px;
}
/*                          STEPS STYLESHEET
---------------------------------------------------------------------------
 */
 #guidelines{
    padding: 150px 0px;
 }
 #guidelines i {
    color: var(--blue);
    font-size: 25px;
 }
 #guidelines .steps{
    display: flex;
    margin-left:50px;
    margin-top:20px;
    align-items: center;
 }
 #guidelines h1{
    color: var(--blue);
    font-size: 60px;
 }
 #guidelines h4{
    color: var(--lblack);
    font-size: 25px;
    font-weight: normal;
    margin-left: 10px;
 }
 /*                 ABOUT US STYLESHEET 
 ------------------------------------------------------------
 */
 #about{
    background-color: var(--black);
    padding:150px 0px;
 }
 #about .project_container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
 }
#about .project_container h2{
    display:inline;
    letter-spacing: 10px;
    height: 60px;
    padding: 15px;
    color:white;
    border-bottom: 4px solid var(--blue);
    transform: rotate(-90deg);
}
#about .project_container p{
    font-size: 25px;
    color: var(--white);
    line-height:45px;
    padding-left:20px;
}
/*                  REGISTRATION STYLESHEET
------------------------------------------------------------
 */
 #registration {
    width:100%;
    padding-top:40px;
    padding-bottom:40px;
    color: var(--white);
    height:100vh !important;
    width:100%;
    background-image: linear-gradient(to bottom,var(--black) 50%, var(--white) 50%);
    display: flex;
    align-items: center;
 }
 #registration .project_container{
  width:100%;
}
 .section_devider{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    padding: 20px;
 }
 #registration  .image img {
    width:300px;
    object-fit: contain;
 }
 #registration  .image a {
    display: block;
    text-align: center;
    color: var(--white);
    text-decoration: none;
 }
 #registration  .image a:hover {
    text-decoration: underline;
    color: var(--blue);
 }
 #registration  .image {
    width:40%;
 }
 #registration  .registration_form {
    width:40%;
 }
 #registration  .registration_form .input_group,
 #registration  .registration_form .radio_group{
    margin-top:20px;
 }
 #registration  .registration_form .input_group label,
 #registration  .registration_form .radio_group label,
 #registration  .registration_form .input_group input
 {
    display: block;
 }
 #registration  .registration_form .input_group input{
    width: 100%;
    height: 33px;
 }
 #registration  .registration_form .radio_group input {
    margin-left:40px;
    margin-right:8px;
    display: inline-block;
    width:25px;
    height:25px;
 }
 #registration  .registration_form .radio_group span{
  display:flex;
  align-items: center;
  display: inline-block;
}
#registration  .registration_form .radio_group span span{
  display: inline-block;
  line-height: 25px;
}
 #registration  .registration_form .submit_butt{
    text-align: center;
    margin-top: 20px;
 }
 /*                LOGIN STYLESHEET
 --------------------------------------------------------------------
  */
  #registration  .login_image img {
    width:100%;
    object-fit: cover;
  }
  #registration  .login_form {
    padding-left:40px;
  }
  #registration  .login_form a{
    display:inline-block;
    margin-top:15px;
    color: var(--blue);
    text-decoration:none;
  }
  #registration  .login_form a:hover{
    text-decoration:underline;
  }
  .message-register{
    background-color: rgba(32, 72, 32, 0.9);
    height:40px;
    text-align: center;
    line-height: 40px;
    margin:20px;
  }
  
 /*                FOOTER STYLESHEET
 ---------------------------------------------------------------------
  */
  #project_footer {
    background-color: black;
    padding: 50px 0;
    margin-top:40px;
  }
  #project_footer .project_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #project_footer .project_container .contact_info {
    width:32%;
    min-width:235px;
  }
  #project_footer .project_container .contact1{
    margin-top:20px;
  }
  #project_footer .project_container .contact1 h3{
    color: var(--blue);
    font-size:17px;
  }
  #project_footer .project_container .contact1 p{
    color: var(--white);
    font-size:15px;
  }
  #project_footer .project_container .social_media{
    width:36%;
    border-left:1px solid var(--lwhite);
    border-right:1px solid var(--lwhite);
    padding-left:20px;
    min-width:235px;
  }
  #project_footer .project_container .social_media .accounts{
    display:flex;
    justify-content: space-between;
  }
  #project_footer .project_container .social_media .accounts .contact1{
    width:32%;
  }
  #project_footer .project_container .social_media .social_icon{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height:150px;
  }
  #project_footer .project_container .social_media .social_icon .icons i{
    margin-left:15px;
    color: var(--blue);
    font-size:30px;
    cursor: pointer;
  }
  #project_footer .project_container .social_media .social_icon p{
    color: var(--white);
    font-size: 11px;
    font-style:italic;
    margin-top:20px;
  }
  #project_footer .project_container .quick_feedback{
    width:32%;
    padding-left:20px;
    min-width:235px;
  }
  #project_footer .project_container .quick_feedback h3{
    color: var(--blue);
    font-size:17px;
    margin-top:20px;
  }
  #project_footer .project_container .quick_feedback input[type=text] {
    height:37px;
  }
  #project_footer .project_container .quick_feedback input[type=text],
  #project_footer .project_container .quick_feedback textarea
  {
    width: 100%;
    margin-bottom:15px;
    padding-left:10px;
  }
  #project_footer .project_container .quick_feedback .icon_button input{
    border: none;
    background-color: transparent;
  }
  #project_footer .project_container .quick_feedback .icon_button {
    box-shadow:0 2px 5px rgba(5,134,255,0.3);
    background-color: rgb(5, 134, 255);
    outline: none;
    display:inline;
    padding:8px 40px;
  }
  #project_footer .project_container .quick_feedback .icon_button i,
  #project_footer .project_container .quick_feedback .icon_button input {
    color: var(--white);
  }
  #project_footer .project_container .quick_feedback .icon_button i{
    margin-right:10px;
  }
  #project_footer .project_container .quick_feedback .alignment{
    display:flex;
    justify-content: flex-end;
    width:100%;
  }
  /*                         VOTERS DASHBOARD STYLESHEET
  -------------------------------------------------------------------------
 */
  #voter_dashboard {
    background-color: var(--dark-blue);
    width:100%;
    height:100%;
    min-height:100vh;
    padding:30px;
  }
  #voter_dashboard .project_container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:50px;
  }
  #voter_dashboard .user_profile{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:30%;
    min-width:285px;
  }
  #voter_dashboard .user_profile button{
    background-color: var(--blue);
    padding:10px 40px;
    outline:none;
    border: none;
    border-radius: 9px;
    display: block;
    color: var(--white);
    cursor: pointer;
    margin-top:20px;
  }
  #voter_dashboard .user_profile .icon_link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
  }
  #voter_dashboard .user_profile .icon_link i{
    color: var(--blue);
    margin-right:15px;
  }
  #voter_dashboard .user_profile .icon_link a{
    color: var(--white);
    text-decoration: none;
  }
  #voter_dashboard .user_profile .icon_link a:hover{
    color: var(--blue);
    text-decoration: underline;
  }
  #voter_dashboard .profile_infor{
    padding-left:10%;
    width:40%;
    min-width: 285px;
  }
  #voter_dashboard .profile_infor .single_info{
    margin-top:25px;
  }
  #voter_dashboard .profile_infor .single_info h4{
    color: var(--blue);
    font-size:15px;
  }
  #voter_dashboard .profile_infor .single_info p{
    color: var(--white);
    font-size:20px;
  }
  #voter_dashboard .profile_infor .two_parts{
    display: flex;
    justify-content: space-between;
  }
  #voter_dashboard .navbar .collapsable_links .active{
    border-bottom: 2px solid var(--blue);
  }
/*                         ADMIN-DASHBOARD STYLEHEET
-------------------------------------------------------------------------
*/
#app {
    display: flex;
    width:100vw;
    margin:0 !important;
    background-color: #90A0B7;
    height: 100vh;
    overflow: hidden;
}

/* LOGO STYES */
#menu {
    background-color: #111827;
    width: 300px;
    height: 100vh;
}
#menu .logo{
    display: flex;
    align-items: center;
    padding:0px 10px 0px 0px;
    background-color:var(--white);
}
#menu .logo img{
  width: 100%;
}

/* MENU ITEMS STYLES */
#menu .items{
   margin-top:30px;
}

#menu .items li{
    list-style-type:none;
    padding:15px 0px;
    transition:0.3s ease;
}
#menu .items li:hover,
#menu .items .active{
    background-color:#253048;
    cursor:pointer;
}
#menu .items li i{
    color:rgb(134,141,151);
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    font-size:14px;
    margin:0px 10px 0px 25px;
}
#menu .items li a{
    text-decoration:none;
    color:rgb(134,141,151);
    transition:0.3s ease;
}
#menu .items li:hover a,
#menu .items li:hover i,
#menu .items .active a,
#menu .items .active i{
    color:white;
}

#menu .items .active{
    border-left:4px solid white;
}

/* INTERFACE STYLING*/
/* NAVIGATION STYLING */

#interface{
    width:calc(100vw - 300px);
}
#interface .navigation,
#interface .two_col_data{
    display:flex;
    justify-content: space-between;
}
#interface .two_col_data{
  padding:0 30px;
}
#interface .navigation {
  padding:15px 30px;
  background-color: var(--dark-blue);
  border-bottom:3px solid #594ef7;
}
#interface .navigation .left_container i{
  font-size:25px;
  color: var(--white);
  cursor: pointer;
  padding:5px;
}


/* RIGHT MENU CONTAINER*/
.right_container{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    position: relative;
}
.right_container i{
    margin-right:20px;
    color:var(--white);
    font-size:19px;
    font-weight:400;
}
.right_container img{
    width:30px;
    height:30px;
    border-radius:50%;
    cursor: pointer;
}

.title{
    color: var(--white);
    padding:30px 30px 0px 30px;
    font-size:24px;
    font-weight:700;
}
#interface .two_col_data .left_col{
  width:70%;
}
#interface .two_col_data .right_col{
  width:30%;
}

.four_cards{
    padding:20px 30px 0px 0px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    gap:20px;
    align-items: center;
}
.four_cards .statistic_card{
    background-color: #fff;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(33% - 20px);
    padding:16px 20px;
    border-radius:5px;
    border: 1px solid rgba(206, 201, 201,0.7);
    min-width:200px;
}

.four_cards .statistic_card i{
    width:60px;
    height:60px;
    line-height:60px;
    text-align: center;
    color:#fff;
    background-color: #FF7A00;
    margin-right:15px;
    border-radius:50%;
    font-size:25px;
}
.four_cards .statistic_card:nth-child(2) i{
    background-color: #015FC7;
}
.four_cards .statistic_card:nth-child(3) i{
    background-color: #01D0A3;
}
.four_cards .statistic_card:nth-child(4) i{
    background-color: #74daec;
}
.four_cards .statistic_card h3{
    font-weight:600;
    font-size:18px;
}
.four_cards .statistic_card span{
    color:#828997;
    font-size:15px;
}
#interface .two_col_data .right_col .statistic_card{
  width:100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:20px;
  margin-top:20px;
  background-image: url("/images/dash_background.svg");
  background-size:cover;
  background-repeat: no-repeat;
}
#interface .two_col_data .right_col .statistic_card h3{
  font-family: "Outfit", sans-serif;
  font-size: 25px;
}
#interface .two_col_data .right_col .statistic_card p{
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

/*                          CCHARTING FOR VOTING
------------------------------------------------------------------- */
.dashboard_charts{
  display: flex;
  justify-content: center;
}
#live_voting_result{
  width:calc(100% - 30px);
  background-color: var(--white);
  margin-top:40px;
}
 #leading_donut{
  margin-top:40px;
  background-color: var(--white);
  display:flex;
  align-items: center;
  justify-content: center;
  height:415px;
}
/*                      VOTERS DASHBOARD STYLESHEET
------------------------------------------------------------ */
#voter_dashboard .voters_elections{
    justify-content: flex-start !important;
    display:block !important;
    padding:0 !important;
    margin-top: 20px !important;
}
#voter_dashboard .navbar {
    padding: 0px;
    margin-bottom:40px;
}
.voters_elections h2{
    color: var(--white);
    font-size:25px;
}
.voters_elections .election_card{
    background-color: #C4C4C4;
    display:flex;
    justify-content: space-between;
    padding:15px;
    margin-top:20px;
    border-radius:5px;
}
.voters_elections .election_card  h3{
    font-size:20px;
}
.voters_elections .others{
    margin-top:35px;
}
#voter_dashboard .voting_card {
    background-color: var(--white);
    margin-top: 40px;
    cursor: pointer;
    height:458px;
    overflow:hidden;
    transition: all 0.5s ease-in-out;
    position:relative;
    z-index:10;
}
#voter_dashboard .voting_card:first-child {
    margin-top:15px;
}

#voter_dashboard .voting_card.active {
    border:2px solid var(--blue);
}
#voter_dashboard .voting_card .card_header{
    padding:20px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid var(--lwhite);
    height:90px;
    overflow:hidden;
    position: relative;
    background-color: var(--white);
    z-index:20;
}
.fold_card {
    height:80px !important;
}
#voter_dashboard .voting_card .card_header .party_candidate{
    padding:5px 20px;
    display:flex;
    align-items: center;
    width: 50%;
}
#voter_dashboard .voting_card .card_header .party_candidate img{
    width:70px;
    height: 70px;
    object-fit: contain;
}
#voter_dashboard .voting_card .card_header .party_candidate .party_text{
    margin-left:20px;
}
#voter_dashboard .voting_card .card_header input{
    width:50px;
    height: 50px;
    color: var(--blue);
}
#voter_dashboard .voting_card .card_header i{
    font-size:35px;
    color: var(--blue);
}
#voter_dashboard .voting_card .card_header .party_candidate .party_text h3{
    font-size:20px;
}
#voter_dashboard .voting_card .card_header .party_candidate .party_text h3:last-child{
    margin-top:1px;
    color: var(--blue);
}
#voter_dashboard .voting_card .card_body{
    display:flex;
    align-items: center;
    padding:20px;
    background-color: var(--lwhite);
    height: calc(100% - 90px);
    position: relative;
    z-index: 15;
}
#voter_dashboard .voting_card .card_body .image{
    width:300px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:7px;
    margin-right:20px;
}
#voter_dashboard .voting_card .card_body .image img{
    width:300px;
    max-width:300px;
    border-radius:10px;
}
#voter_dashboard .voting_card .card_body .body_text h3{
    font-size:25px;
    margin-top:5px;
    color: var(--lblack);
}
#voter_dashboard .voting_card .card_body .body_text h3 span{
    color: var(--blue);
}
#voter_dashboard .card_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#voter_dashboard .card_footer .checkbox{
    display: flex;
    align-items: center;
    margin-top:25px;
    color: var(--white);
    width:100%;
}
#voter_dashboard .card_footer .checkbox input{
    width:20px;
    height:20px;
    margin-right:15px;
}
#voter_dashboard .card_footer input[type=submit]{
    width:190px;
    margin-top:15px;
    border:none;
}
.info_card {
    padding:15px 50px;
    margin:10px;
    color:var(--white);
    border:1px solid rgba(0,0,0,0.115);
}
.success {
    background-color: var(--success);
}
.error {
    background-color: var(--danger);
}

.absolute_card {
    width: 200px;
    background-color: var(--white);
    border: 1px solid var(--lwhite);
    padding:10px 0;
    position: absolute;
    right:0px;
    top:33px;
    display: none;
}
.absolute_card a{
    text-decoration:none;
    color: var(--lblack);
    padding:10px 30px;
    display: block;
}

.show_absolute_card {
    display:block;
}

.logout_butt{
    background-color: var(--danger);
    padding:10px 40px;
    letter-spacing: 2px;
}

/* Edit User Profile */
#voter_dashboard .edit_container{
    padding:0 !important;
}
#voter_dashboard .edit_profile{
    width:55%;
}
#voter_dashboard .profile_edit{
    width:45%;
}
#voter_dashboard .edit_profile .single_info h4 {
    font-size:17px;
}
#voter_dashboard .edit_profile .single_info input:not(input[type=radio]) {
    width:100%;
    height: 40px;
}
#voter_dashboard .dob_input {
    width: 48%;
}
#voter_dashboard .edit_profile .single_info .button_group {
    display:flex;
    align-items: center;
    color: var(--white);
}
#voter_dashboard .edit_profile .single_info .button_group .radio_box:not(:last-child){
    margin-right:30px;
}
#voter_dashboard .edit_profile .single_info .button_group .radio_box input{
    width:17px;
    height:17px;
}
#voter_dashboard .edit_profile .single_info .button_group .radio_box span{
    font-size: 16px;
    margin-left:5px;
}
#voter_dashboard .edit_profile input[type=submit]{
    margin-top: 20px;
}

#voter_dashboard .image-thumbnail {
    width: 300px;
    max-height:300px;
}
#voter_dashboard .image-thumbnail img{
    width:100%;
}
#voter_dashboard .voted_successfully{
    background-color: var(--white);
    border-radius: 15px;
    padding-bottom:20px !important;
}
#voter_dashboard .voted_successfully h1{
    font-size: 35px;
    color: #118D07;
    font-weight: bolder;
}


 /*                          MOBILE STYLESHEET
 --------------------------------------------------------------------------
  */
@media (max-width:900px){
    .navbar,
    #bars,
    .navbar a
    {
        display:block;
    }
    .navbar{
        box-shadow: var(--box-shadow);
    }
    .navbar .collapsable_links{
        height:0px;
        overflow:hidden;
    }
    #home .home_content .image{
        display: none;
    }
    #home .home_content .content_text{
        width:100%;
    }
    #about .project_container{
        display:block;
     }
    #about .project_container h2{
        transform: rotate(0deg);
    }
    #about .project_container p{
        margin-top:30px;
    }
}
@media (max-width:774px){
   #project_footer .project_container .social_media{
    border-left:none;
    border-right:none;
  }
}
@media (max-width:510px){
#project_footer .project_container .social_media {
   margin-top:30px;
   padding-left:0;
}
}
@media (max-width:450px){
    #guidelines .steps{
        margin-left:30px;
     }
}
